body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  background-image: linear-gradient(to right, rgb(166, 138, 219), rgb(61, 27, 124), rgb(19, 1, 24));
}

.loginForm {
  background-color: aliceblue;
  width: 614px;
  height: 266px;
  left: 333px;
  top: 316px;
}


